:host {
    .form-container {
        overflow: hidden;
        height: 100%;
    }
    .card {
        input.ng-dirty.ng-invalid {
            border-color: var(--red);
        }
        textarea {
            width: 100%;
        }

        .was-validated {
            .invalid-feedback {
                display: block;
            }
        }
    }
}