<div class='form-container'
    [@openClose]='currentState'
    (@openClose.done)="animationDone($event)"
>
    <div class='card'>
        <button class="btn btn-light" (click)='closeForm()'>
            <span class='fa fa-angle-double-up'></span>
        </button>

        <div class='card-body'>

            <form [formGroup]="form">
                <div class='form-group' [ngClass]="{'was-validated': title.dirty && title.invalid}">
                    <label for='title'>Заголовок</label>
                    <input
                        type='text'
                        class='form-control'
                        formControlName='title'
                        required
                    >
                    <div *ngIf='title.dirty && title.errors?.required' class="invalid-feedback">
                        Title is required
                    </div>
                </div>
                <div class='form-group' [ngClass]="{'was-validated': desc.dirty && desc.invalid}">
                    <label for='desc'>Описание</label>
                    <textarea
                        id='desc'
                        rows='5'
                        formControlName='desc'
                    ></textarea>
                </div>
                <div class='form-group' [ngClass]="{'was-validated': date.dirty && date.invalid}">
                    <div class="input-group">
                        <input
                            class="form-control"
                            placeholder="yyyy-mm-dd"
                            formControlName='date'
                            ngbDatepicker
                            #d="ngbDatepicker"
                            required
                        >
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary calendar" (click)="d.toggle()" type="button">
                                <i class='fa fa-calendar-alt'></i>
                            </button>
                        </div>
                        <ng-container *ngIf="date.dirty && date.errors">
                            <div *ngIf='date.errors.required' class="invalid-feedback">
                                Date is required
                            </div>
                            <div *ngIf='date.errors.ngbDate' class="invalid-feedback">
                                Wrong date format
                            </div>
                        </ng-container>
                    </div>
                </div>
                <button type="submit" class="btn btn-light" (click)="create($event)">
                    {{ isCreatingForm ? 'Добавить' : 'Редактировать' }}
                </button>
            </form>
        </div>
    </div>
</div>