<div class='card'>
    <h5 class='card-header'> 
        {{ title }}
    </h5>

    <div class='card-body'>

        <div class='container-fluid'>
            <div class='row'>
                <div class='col-lg-7  col-md-6'>
                    <task-list
                        (viewTask)="viewTask($event)"
                        (editTask)="editTask($event)"
                    ></task-list>
                </div>
                <div class='col-lg-5  col-md-6'>
                    <h3>&nbsp;</h3>
                    <div class='btn-group' *ngIf="!showForm && !showView" >
                        <button (click)='newTask()' class='btn btn-info'>
                            Добавить задачу
                        </button>
                    </div>
                    <task-form *ngIf="showForm" [task]="currentTask" (close)="closeTaskForm()"></task-form>
                    <task-view *ngIf="showView" [task]="currentTask" (close)="closeTaskView()"></task-view>
                </div>
            </div>
        </div>

    </div>
</div>