:host {
    display: inline-block;
    width: 100%;

    .card {
        width: 100%;
        max-width: var(--breakpoint-md);
        margin: 4vh auto;
    }

    .btn-group {
        margin-bottom: 1em;
    }
}
