<div class='form-container'
    [@openClose]='currentState'
    (@openClose.done)="animationDone($event)"
>
    <div class='card'>
        <button class="btn btn-light" (click)='closeForm()'>
            <span class='fa fa-angle-double-up'></span>
        </button>

        <div class='card-body'>
            <small>{{task.date|date:"dd-MM-yyyy"}}</small>
            <h4 class='m-0 p-0'>{{task.title}}</h4>
            <ng-template [ngIf]="task.desc != ''">
                <hr/>
                <p class=''>{{task.desc}}</p>
            </ng-template>
        </div>
    </div>
</div>