<h3>Текущие задачи</h3>
<div *ngIf='tasksInProgress.length' class='pb-4'>
    <ul class='list-group' dragula="INPROGRESS" [dragulaModel]="tasksInProgress">
        <li
            *ngFor="let item of tasksInProgress"
            class='list-group-item'
            [ngClass]="{
                'list-group-item-warning': daysToDeadline(item.task) <= 3 && daysToDeadline(item.task) > 0,
                'list-group-item-danger': daysToDeadline(item.task) <= 0
            }"
        >
            <div class='row'>
                <div class='col'>
                    <small>{{ item.task.date | date:'dd-MM-yyyy' }}</small>
                    <div class='p-0 m-0'>{{ item.task.title }}</div>
                    <div>{{ daysToDeadline(item.task) }}</div>
                </div>
                <div class='col text-right'>
                    <div class='btn-group'>
                        <button class='btn btn-sm btn-light' title='View' (click)='view(item.idx)'><i class='far fa-eye'></i></button>
                        <button class='btn btn-sm btn-light' title='Edit' (click)='edit(item.idx)'><i class='fa fa-marker'></i></button>
                        <button class='btn btn-sm btn-light' title='Close' (click)='close(item.idx)'><i class='fa fa-check'></i></button>
                    </div>
                </div>
            </div>
        </li>
    </ul>
</div>
<div *ngIf='!tasksInProgress.length' class='pb-4'>
    Список пуст
</div>

<div *ngIf='tasksComplete.length'>
    <h3>Завершенные задачи</h3>
    <ul class='list-group' dragula="COMPLETE" [dragulaModel]="tasksComplete">
        <li *ngFor='let item of tasksComplete' class='list-group-item'>
            <div class='row'>
                <div class='col'>
                    <small>{{ item.task.date | date:'dd-MM-yyyy' }}</small>
                    <div class='p-0 m-0'>{{ item.task.title }}</div>
                </div>
                <div class='col text-right'>
                    <div class='btn-group'>
                        <button class='btn btn-sm btn-light' title='View' (click)='view(item.idx)'><i class='far fa-eye'></i></button>
                        <button class='btn btn-sm btn-light' title='Remove' (click)='remove(item.idx)'><i class='fa fa-times'></i></button>
                    </div>
                </div>
            </div>
        </li>
    </ul>
</div>