/* You can add global styles to this file, and also import other style files */

@import (reference) 'vars.less';

html, body {
    background-color: @main-bg-color;
    height: 100%;
}

/**
 * Bootstrap
 */
.btn,
input {
    &:focus,
    &:active,
    &:active:focus {
        outline: none !important;
        box-shadow: none !important;
    }
}
.btn {
    &.btn-light {
        border: none;
        background-color: lighten(@snow-drift-color, 5%) !important;
        &:hover,
        &:active {
            background-color: @snow-drift-color !important;
        }
    }

    &.btn-info {
        border: none;
        background-color: darken(@bermuda-color, 5%) !important;
        &:hover,
        &:active {
            background-color: darken(@bermuda-color, 15%) !important;
        }
    }
}
.card {
    .card-header {
        background-color: @snow-drift-color;
    }
}

/**
 * ng2-dragula
 */
/* in-flight clone */
.gu-mirror {
    position: fixed !important;
    margin: 0 !important;
    z-index: 9999 !important;
    opacity: 0.8;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
    filter: alpha(opacity=80);
    pointer-events: none;
}
/* high-performance display:none; helper */
.gu-hide {
    left: -9999px !important;
}
/* added to mirrorContainer (default = body) while dragging */
.gu-unselectable {
    -webkit-user-select: none !important;
    -moz-user-select: none !important;
    -ms-user-select: none !important;
    user-select: none !important;
}
/* added to the source element while its mirror is dragged */
.gu-transit {
    opacity: 0.2;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
    filter: alpha(opacity=20);
}