@snow-drift-color: #ddddda;
@tiara-color: #c2c8c5;
@botticelli-color: lighten(#94b0b7, 10%);
@bermuda-color: #7697a0;
@bismark-color: #4a707a;

@main-bg-color: @bermuda-color;
@app-color: @botticelli-color;